truveo/search.twitter.com.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10                      https://wadl.dev.java.net/wadl20061109.xsd" xmlns="http://research.sun.com/wadl/2006/10"> 

  <grammars> 
    <response-codes>

      <code name="200" value="OK: Success!" />
      <code name="400" value="Bad Request: The request was invalid. An accompanying error message will explain why." />
      <code name="403" value="Forbidden: The request is understood, but it has been refused. An accompanying error message will explain why." />
      <code name="503" value="Service Unavailable: Something happened to the Truveo servers. Try again later." />
    </response-codes>
  </grammars>

  <representation id="responseCodes" element="responseCodes"/>

  <resources base="http://xml.truveo.com"> 
    <resource path="/apiv3">
      <param name="format" type="xsd:string" style="template" required="true" default="json">
        <option value="json" mediaType="application/json"/>
        <option value="atom" mediaType="application/atom+xml"/>
      </param>
      <param name="lang" required="false" type="xsd:string" style="query" default="en"/>
      <param name="locale" required="false" type="xsd:string" style="query" default="ja"/>
      <param name="max_id" required="false" type="xsd:string" style="query" default="987654321"/>
      <param name="q" required="true" type="xsd:string" style="query" default="api"/>
      <param name="rpp" required="false" type="xsd:string" style="query" default="50"/>
      <param name="page" required="false" type="xsd:string" style="query" default="2"/>
      <param name="since" required="false" type="xsd:string" style="query" default="2010-04-13"/>
      <param name="since_id" required="false" type="xsd:string" style="query" default="123456789"/>
      <param name="geocode" required="false" type="xsd:string" style="query" default="40.757929%2C-73.985506%2C25km"/>
      <param name="show_user" required="false" type="xsd:string" style="query" default="true"/>
      <param name="until" required="false" type="xsd:string" style="query" default="2010-04-15"/>
      <param name="result_type" required="false" type="xsd:string" style="query" default="popular"/>

      <method name="GET" id="search">
        <tags>
          <tag primary="true">Search</tag>
        </tags>

        <authentication required="false"/>
        <docs url="http://developer.truveo.com"/>
        <example url="/search.{format}?q={q}"/>
        <notes><p>Returns tweets that match a specified query. Notice: As of April 1st 2010, the Search API provides an option to retrieve "popular tweets" in addition to real-time search results. In an upcoming release, this will become the default and clients that don't want to receive popular tweets in their search results will have to explicitly opt-out. See the result_type parameter for more information.</p><p>Warning: The user ids in the Search API are different from those in the REST API (about the two APIs). This defect is being tracked by Issue 214. This means that the to_user_id and from_user_id field vary from the actualy user id on Twitter.com. Applications will have to perform a screen name-based lookup with the users/show method to get the correct user id if necessary.</p></notes>
      </method>

    </resource>
  </resources>
</application>
